.singlePost{
    flex:9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
}

.singlePostTitleInput:focus{
    outline: none;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    cursor: pointer;
    margin-left: 10px;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color:#777065
}

.singlePostDesc{
    color:#666;
    line-height: 25px;
    font-size: 18px;
}

.singlePostDesc::first-letter{
    font-weight: 600;
    font-size:30px;
    margin-left: 25px;
}

.singlePostTitleInput{
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(215, 195, 195);
    
}

.singlePostDescInput:focus{
    outline: none;
}

.singlePostDescInput{
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(215, 195, 195);
}

.singlePostButton{
    width: 100px;
    border: none;
    background-color: rgb(59, 95, 95);
    padding: 5px;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
    align-self:flex-end ;
    margin-top: 20px;
}
